@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

ol {
    font-size: 18px;
}

.python {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}